* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: rgba(79, 115, 208, 0.532);
  transition: 0.5s;
}

.container.dark {
  background-color: #222;
  color: white;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 253, 250);
  padding: 15px 7%;
  transition: 0.5s;
}

.container.dark .navbar {
  background-color: #333;
}

.logo {
  width: 160px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.dark .navbar{
    background: #000;
    color: #fff;
}