* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: rgba(79, 115, 208, 0.532);
  transition: 0.5;
}

.container.dark {
  background-color: #222;
  color: white;
}
